/*Formatierung für den body
Hintergrundfarbe, Schriftfarbe und Schriftfamilie*/

:root {
    --color-bg: #1A2330;
    --color-bg-secondary: #303A44;
    --color-light-text: #ffffff;
    --color-accent: #BCEC33;
    --color-inactive: #808588;
    --color-hover: #ccd7dd;
    --color-box: rgb(255, 255, 255)2d;
}

body {
    position: absolute; 
    height: 100vh;
    width: 100vw;
    background-color: var(--color-bg);
    margin: 0;
}

main {
    background: LightYellow;
}

nav {
    position: fixed;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    border-radius: 15px;
    bottom: 0;
    width: 94%;
    height: 7vh;
    min-height: 45px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 15px;
    background: var(--color-bg-secondary);

    .nav-button {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            transition: fill 0.2s ease-out;
            width: 40%;
            fill: var(--color-inactive);
        }
    }

    .nav-button:hover {
        background: var(--color-box);
        svg {
            fill: var(--color-hover);
        }
    }

    .active {
        svg {
            fill: var(--color-accent)
        }
    }
}